.left_div, .right_div {
    position: fixed;
    height: 100%;
    width: 18.5rem;
    left: 0;
    text-align: center;
    background-color: black;
    color: white;
    margin: 5px;
    border-radius: 5px;
}



.middle_div {
    position: relative;
    text-align: center;
    background-color: brown;
    border-radius: 5px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}